<div class="card">
  <small>
    <strong><%= prompt.prompt %></strong>
    <i><%= prompt.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <h6><%= prompt.ai_class.name %> répond :</h6>
  <p data-node-subscription-target="promptp" id="text-<%= prompt.id %>"><%= prompt.response_text %></p>
  <button data-action="click->node-subscription#copy" data-text-id="text-<%= prompt.id %>">
   <i class="fa-solid fa-copy"></i>
  </button>
  <% if prompt.response_image.attached? %>
    <%= cl_image_tag prompt.response_image.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
