<div class="container form-prompt" >
  <%= simple_form_for [ node, prompt ],
        html: { data: { action: "turbo:submit-end->node-subscription#resetForm", scroll_prompt_target:"input" } } do |f|  %>
    <div class="row d-flex">
      <%= f.simple_fields_for :non_model_field do |nmf| %>
        <div class="col-6">
          <%= nmf.input :choix,
              label: "Choix du type de résultat",
              as: :string,
              as: :radio_buttons,
              input_html: { class: "tag-selector" },
              item_wrapper_class: 'tag-item',
              collection: ["image","texte"] %>
        </div>
        <div class="col-6">
          <%= nmf.input :list_ia,
              label: "Choix d'une ou plusieurs IA",
              as: :string,
              as: :check_boxes,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: ["ChatGPT","MistralAi"] %>
        </div>
      <% end %>
    </div>
    <div class="row d-flex">
      <div class="col-8">
        <%= f.input :prompt,label: false %>
      </div>
      <div class="col-4">
        <%= f.submit "envoyer votre prompt", class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
