<div data-controller="mindmap"
     data-mindmap-node-value="<%= visnode.to_json %>"
     data-mindmap-edge-value="<%= visedge.to_json %>"
     class="mindmap">
  <div id="node-popUp">
    <%= simple_form_for [ node ] do |f|  %>
      <%= f.input :title %>
      <%= f.submit "créer le node", class:"btn btn-primary"%>
    <% end %>
  </div>
</div>
