<div data-controller="sidebar"
     id="mySidebar"
     class="sidebar"
     data-sidebar-controller-value = <%= controller_name %>
     data-sidebar-action-value = <%= action_name %>
     data-action="mouseover->sidebar#toggleSidebar mouseout->sidebar#toggleSidebar">

  <div class="icondiv sidebare-button <%= current_page?(root_path) ? 'active' : ''%>"  data-action="click->sidebar#changeColor" >
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>Home
    <% end %>
  </div>
  <div class="icondiv sidebare-button <%= !current_page?(controller: "nodes", action: "index") && !current_page?(root_path) ? 'active' : ''%>"  data-action="click->sidebar#changeColor">
    <%= simple_form_for [ node ] do |f|  %>
      <%= f.input :title, as: :hidden %>
      <%= f.simple_fields_for :non_model_field do |nmf| %>
        <%= nmf.input :redirect, as: :hidden, input_html: { value: 'show' } %>
      <% end %>
      <div class="submit" data-sidebar-target="btn">
        <%= button_to type: "submit", class: "button2" do  %>
          <i class="fa-solid fa-terminal"></i>Prompt
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="icondiv sidebare-button <%= current_page?(controller: "nodes", action: "index") ? 'active' : ''%>" data-sidebar_target="btn">
    <%= link_to nodes_path, data: {action: "click->sidebar#changeColor"} do %>
      <i class="fa-solid fa-folder"></i>Mes Recherches
    <% end %>
  </div>
</div>
