<div data-controller="sidebar"
     id="mySidebar"
     class="sidebar"
     data-action="mouseover->sidebar#toggleSidebar mouseout->sidebar#toggleSidebar" >
  <div class="icondiv">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>Home
    <% end %>
  </div>
  <div class="icondiv">
    <%= simple_form_for [ node ] do |f|  %>
      <%= f.input :title, as: :hidden %>
      <div class="submit">
        <%= button_to type: "submit" do  %>
          <i class="fa-solid fa-terminal"></i>Prompt
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="icondiv">
    <%= link_to nodes_path do %>
    <i class="fa-solid fa-folder"></i>classement
    <% end %>
  </div>
</div>
